html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

@font-face {
	font-family: "GilroyBold";
	font-style: normal;
	font-weight: normal;
	src: local("GilroyBold â˜ž"),
		url(../public/fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
	font-family: "GilroyHeavy";
	font-style: normal;
	font-weight: normal;
	src: local("GilroyHeavy"),
		url(../public/fonts/Gilroy-Heavy.ttf) format("truetype");
}

@font-face {
	font-family: "GilroyLight";
	font-style: normal;
	font-weight: normal;
	src: local("GilroyLight"),
		url(../public/fonts/Gilroy-Light.ttf) format("truetype");
}

@font-face {
	font-family: "GilroyMedium";
	font-style: normal;
	font-weight: normal;
	src: local("Gilroy-Medium"),
		url(../public/fonts/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
	font-family: "GilroyRegular";
	font-style: normal;
	font-weight: normal;
	src: local("GilroyRegular"),
		url(../public/fonts/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "GilroyRegularItalic";
	font-style: normal;
	font-weight: normal;
	src: local("GilroyRegularItalic"),
		url(../public/fonts/Gilroy-RegularItalic.ttf) format("truetype");
}

body {
	margin: 0 auto;
	font-family: GilroyRegular !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black !important;
}

h1 {
	font-family: GilroyBold !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@import url("https://fonts.cdnfonts.com/css/mortend");


.navbar{
  top:0;
  z-index: 1000;
}

.fw-bold {
	font-family: GilroyBold !important;
}

.transparent-white {
	background-color: transparent !important;
}

.mt-6 {
	margin-top: 6rem;
}

.mt-10 {
	margin-top: 10rem;
}

.display-3 {
	font-size: 65px !important;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.shadow-5-strong {
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.16),
		0 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
}

.p-navbar {
	padding: 2rem 5rem 0rem 7rem !important;
}

.mt-12 {
	margin-top: 12rem;
}

.mt-20 {
	margin-top: 24rem;
}

.mt-25 {
	margin-top: 35rem;
}


@media (max-width: 600px) {
	.mt-10 {
		margin-top: 6.7rem;
	}

	.mt-12 {
		margin-top: 12rem;
	}

    .mt-20, .mt-20-mobile {
        margin-top: 8rem;
    }

    .mt-25 {
        margin-top: 5rem;
    }

	.p-navbar {
		padding: 1.7rem 1.5rem 0rem 1.5rem !important;
	}
}

.showcase {
	background: var(--primary-color);
	color: #fff;
	height: 100vh;
	position: relative;
}

.showcase:before {
	content: "";
	background: url("https://images.pexels.com/photos/533923/pexels-photo-533923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
		no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 100;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.showcase .showcase-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.showcase h1 {
	font-size: 4rem;
}

.showcase p {
	font-size: 1.3rem;
}

.btn {
	display: inline-block;
	border: none;
	background: var(--primary-color);
	color: #fff;
	padding: 0.75rem 1.5rem;
	margin-top: 1rem;
	transition: opacity 5s ease-in-out;
	text-decoration: none;
}

.btn:hover {
	opacity: 10;
}

:root {
	--primary-color: transparent;
	--secondary-color: rgba(0, 85, 255, 0.9);
	--overlay-color: rgba(0, 0, 0, 0.85);
	--menu-speed: 2s;
}

.menu-wrap {
	position: fixed;
	z-index: 1;
	margin-top: -4rem !important;
}

.menu-wrap .toggler {
	position: absolute;
	z-index: 2;
	cursor: pointer;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.menu-wrap .hamburger {
	position: absolute;
	/* top: 0;
	left: 0; */
	z-index: 1;
	width: 60px;
	height: 60px;
	padding: 1rem;
	background: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
	position: relative;
	flex: none;
	width: 100%;
	height: 2px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -10px;
	width: 100%;
	height: 2px;
	background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
	top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
	transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
	visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
	transform: scale(1);
	transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
	opacity: 1;
	transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-wrap .menu > div {
	background: var(--overlay-color);
	/* border-radius: 50%; */
	width: 200vw;
	height: 100%;
	display: flex;
	flex: none;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
	text-align: center;
	max-width: 90vw;
	max-height: 100vh;
	opacity: 0;
	transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
	list-style: none;
	color: #fff;
	font-size: 1.5rem;
	padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
	color: inherit;
	text-decoration: none;
	transition: color 0.4s ease;
	font-size: 30px;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
	color: var(--secondary-color);
}

.menu-wrap .menu > div > div > ul > li:hover {
	opacity: 0;
	transition: opacity 2s ease;
}

.menu-wrap .menu > div > div > ul > li:nth-child(1) {
	transition-delay: 0.6s;
	opacity: 1;
}

.menu-wrap .menu > div > div > ul > li:nth-child(2) {
	transition-delay: 0.8s;
	opacity: 1;
}

.menu-wrap .menu > div > div > ul > li:nth-child(3) {
	transition-delay: 1s;
	opacity: 1;
}

.menu-wrap .menu > div > div > ul > li:nth-child(4) {
	transition-delay: 1.2s;
	opacity: 1;
}

.menu-wrap .menu > div > div > ul > li:nth-child(5) {
	transition-delay: 1.4s;
	opacity: 1;
}

.menu-wrap .menu > div > div > ul > li:nth-child(6) {
	transition-delay: 1.6s;
	opacity: 1;
}

.menu-wrap .menu > div > div > ul > li:nth-child(7) {
	transition-delay: 1.8s;
	opacity: 1;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fade-in-text {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration: 1.4s;
}

.fade-in-text.delayed {
	animation-delay: 1s;
}

.fade-in-text.delayed1 {
	animation-delay: 1.4s;
}

.hero-hr {
	height: 2px !important;
	background: white;
	bottom: 12rem !important;
	position: relative;
}

.hero-hr:before {
	content: "" !important;
	height: 10px !important;
	width: 10px !important;
	border-radius: 10px !important;
	float: left !important;
	background: #ffff !important;
	margin-top: -3px !important;
}

.contact-border {
	border: 3px solid #fff;
	padding: 1.2rem;
}

.fst-italic {
	font-family: GilroyRegularItalic !important;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.8rem 0.75rem !important;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.5;
	color: white !important;
	background-color: #343a40 !important;
	background-clip: padding-box;
	border: 0.5px solid #ced4da !important;
	appearance: none;
	border-radius: 0rem !important;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.video-paddding {
	padding-top: 10rem;
	padding-bottom: 11rem;
}

.video-responsive {
	overflow: hidden;
	padding-bottom: 53%;
	position: relative;
	height: 0;
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

/* Sponsor CSS */

.sponsor img {
	object-fit: contain;
	width: 100%;
	height: 100px;
}

.gallery {
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 12%;
}

.gallery img {
	background-color: #7b00ff;
	padding: 15px;
	width: 100%;
	/* box-shadow: 0 0 15px rgba(255, 0, 230, 0.258); */
	overflow-x: hidden;
}

.container-lg {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

/* About TQ */

.abouttaqneeqpage {
	background-image: url("assets/bg2.jpg");
}

.scroll-c {
	height: calc(100vh - 200px);
	position: absolute;
	top: 150px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.parentContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	margin-top: 23px;
	margin-left: 50px;
	flex-wrap: wrap;
}

.abouttext {
	color: white;
	margin-right: 50px;
	font-size: 20px;
	width: 100%;
}

.aboutimage {
	margin-right: 50px;
	width: 100%;
}

@media (min-width: 600px) {
	.abouttext {
		width: 40%;
	}

	.aboutimage {
		width: 40%;
	}
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* Schedule */

.sch {
	position: fixed;
	right: -32%;
	bottom: -24%;
    top: -10%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	z-index: -100;
}

.timeline {
	display: flex;
	flex-direction: column;
	/* margin: 100px auto; */
	/* position: relative; */
	height: calc(100vh);
	/* width: 100%; */
    z-index: -1 !important;

}

.timeline__event {
	margin-bottom: 20px;
	position: relative;
	display: flex;
	margin: 20px 0;
	border-radius: 6px;
	align-self: center;
	width: cal(50vw);
}

.timeline__event:nth-child(2n + 1) {
	flex-direction: row-reverse;
}

.timeline__event:nth-child(2n + 1) .timeline__event__date {
	border-radius: 0 6px 6px 0;
}

.timeline__event:nth-child(2n + 1) .timeline__event__content {
	border-radius: 6px 0 0 6px;
}

.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
	content: "";
	width: 2px;
	height: 100%;
	background: #6c2e84;
	position: absolute;
	top: 0%;
	left: 50%;
	right: auto;
	z-index: -1;
	transform: translateX(-50%);
	animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
	content: "";
	width: 100%;
	height: 2px;
	background: #6c2e84;
	position: absolute;
	right: 0;
	z-index: -1;
	top: 50%;
	left: auto;
	transform: translateY(-50%);
	animation: fillLeft 2s forwards 4s ease-in-out;
}

.timeline__event__title {
	font-size: 1.2rem;
	line-height: 1.4;
	text-transform: uppercase;
	font-weight: 600;
	color: #9251ac;
	letter-spacing: 1.5px;
}

.timeline__event__content {
	padding: 20px;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
		0 18px 36px -18px rgba(0, 0, 0, 0.3),
		0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	background: #fff;
	width: calc(40vw - 84px);
	border-radius: 0 6px 6px 0;
}

.timeline__event__date {
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
	background: #9251ac;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	padding: 0 20px;
	border-radius: 6px 0 0 6px;
}

.timeline__event__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #9251ac;
	padding: 20px;
	align-self: center;
	margin: 0 20px;
	background: #6c2e84;
	border-radius: 100%;
	width: 40px;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
		0 18px 36px -18px rgba(0, 0, 0, 0.3),
		0 -12px 36px -8px rgba(0, 0, 0, 0.025);
	padding: 40px;
	height: 40px;
	position: relative;
}

.timeline__event__icon i {
	font-size: 32px;
}

.timeline__event__icon:before {
	content: "";
	width: 2px;
	height: 100%;
	background: #6c2e84;
	position: absolute;
	top: 0%;
	z-index: -1;
	left: 50%;
	transform: translateX(-50%);
	animation: fillTop 2s forwards 4s ease-in-out;
}

.timeline__event__icon:after {
	content: "";
	width: 100%;
	height: 2px;
	background: #6c2e84;
	position: absolute;
	left: 0%;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	animation: fillLeftOdd 2s forwards 4s ease-in-out;
}

.timeline__event__description {
	flex-basis: 60%;
    color: black;
}

.timeline__event--type2:after {
	background: #555ac0;
}

.timeline__event--type2 .timeline__event__date {
	color: #87bbfe;
	background: #555ac0;
}

.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
	background: #87bbfe;
}

.timeline__event--type2 .timeline__event__icon {
	background: #87bbfe;
	color: #555ac0;
}

.timeline__event--type2 .timeline__event__icon:before,
.timeline__event--type2 .timeline__event__icon:after {
	background: #87bbfe;
}

.timeline__event--type2 .timeline__event__title {
	color: #555ac0;
}

.timeline__event--type3:after {
	background: #24b47e;
}

.timeline__event--type3 .timeline__event__date {
	color: #aff1b6;
	background-color: #24b47e;
}

.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before,
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
	background: #aff1b6;
}

.timeline__event--type3 .timeline__event__icon {
	background: #aff1b6;
	color: #24b47e;
}

.timeline__event--type3 .timeline__event__icon:before,
.timeline__event--type3 .timeline__event__icon:after {
	background: #aff1b6;
}

.timeline__event--type3 .timeline__event__title {
	color: #24b47e;
}

.timeline__event:last-child .timeline__event__icon:before {
	content: none;
}

@media (max-width: 786px) {
	.timeline__event {
		flex-direction: column;
		align-self: center;
	}

	.timeline__event__content {
		width: 100%;
	}

	.timeline__event__icon {
		border-radius: 6px 6px 0 0;
		width: 100%;
		margin: 0;
		box-shadow: none;
	}

	.timeline__event__icon:before,
	.timeline__event__icon:after {
		display: none;
	}

	.timeline__event__date {
		border-radius: 0;
		padding: 20px;
	}

	.timeline__event:nth-child(2n + 1) {
		flex-direction: column;
		align-self: center;
	}

	.timeline__event:nth-child(2n + 1) .timeline__event__date {
		border-radius: 0;
		padding: 20px;
	}

	.timeline__event:nth-child(2n + 1) .timeline__event__icon {
		border-radius: 6px 6px 0 0;
		margin: 0;
	}
}

@keyframes fillLeft {
	100% {
		right: 100%;
	}
}

@keyframes fillTop {
	100% {
		top: 100%;
	}
}

@keyframes fillLeftOdd {
	100% {
		left: 100%;
	}
}

/* Workshops */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
i {
	opacity: 0;
	font-size: 18px;
	color: #fff;
	will-change: transform;
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
h2 {
	pointer-events: none;
}
body {
	background-color: #e6e5e1;
	width: 100vw;
	height: 100vh;
	margin: auto;
}
.wcontainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.wcontainer .wcard {
	position: relative;
	width: 800px;
	height: 300px;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 100px;
}
.wcontainer .wcard:before {
	content: "";
	z-index: 99;
	position: absolute;
	top: -10px;
	left: 32px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: #e6e5e1;
}
.wcontainer .wcard:after {
	content: "";
	z-index: 99;
	position: absolute;
	bottom: -10px;
	left: 32px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background-color: #e6e5e1;
}
.wcontainer .wcard ul {
	z-index: 99;
	position: absolute;
	left: 39px;
	top: 5px;
	list-style-type: none;
}
.wcontainer .wcard ul li {
	width: 2px;
	height: 2px;
	border-radius: 2px;
	margin: 6px 0;
	background-color: #e6e5e1;
}
.wcontainer .wcard h2 {
	z-index: 99;
	font-family: "Poppins", sans-serif;
	position: absolute;
	bottom: 0;
	right: 130px;
	font-size: 60px;
	font-weight: 700;
	color: #fff;
}
.wcontainer .wcard .fa-arrow-right {
	z-index: 100;
	position: absolute;
	right: 65px;
	bottom: 15px;
	font-size: 60px;
	cursor: pointer;
}
.wcontainer .wcard p {
	z-index: 99;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #333;
	opacity: 0.7;
	font-size: 12px;
	letter-spacing: 1px;
	writing-mode: vertical-lr;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.wcontainer .wcard .pic {
	z-index: 100;
	width: 750px;
	height: 300px;
	background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
	background-size: 100% 100%;
	filter: grayscale(100%);
}
.wcontainer .wcard .social {
	position: absolute;
	left: 90px;
	top: 0;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 180px;
	height: 64px;
	border-radius: 80px;
}
.wcontainer .wcard .social i:nth-of-type(1) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.wcontainer .wcard .social i:nth-of-type(2) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.wcontainer .wcard .social i:nth-of-type(3) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.wcontainer .wcard .social i:nth-of-type(4) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.wcontainer .wcard:hover i {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.wcontainer .wcard button {
	position: absolute;
	right: 14px;
	bottom: 14px;
	width: 25px;
	height: 25px;
	background-color: #0026ff;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease;
	mix-blend-mode: hard-light;
}
.wcontainer .wcard button i {
	font-size: 3rem;
}
.wcontainer .wcard:hover button {
	transform: scale(25.5);
}
.wcontainer .wcard:hover p {
	color: #fff;
}
.wcontainer .wcard:hover .pic {
	filter: grayscale(0);
}

.wcontainer .wcard2 .pic {
	background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}
.wcontainer .wcard2 button {
	background-color: #2b26c3;
}

.wcontainer .wcard3 .pic {
	background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e14");
}
.wcontainer .wcard3 button {
	background-color: #2b26c3;
}

.wcontainer .wcard4 .pic {
	background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}
.wcontainer .wcard button {
	background-color: #2b26c3;
}

.dr {
	position: absolute;
	bottom: 16px;
	right: 16px;
	width: 100px;
}

.properties {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #cacaca;
	border-radius: 5px;
}

.mouse-pointer {
	cursor: pointer;
}

/* events page */
:root {
	--background-dark: black;
	--text-light: rgba(255, 255, 255, 0.6);
	--text-lighter: rgba(255, 255, 255, 0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 1200px;
}

.hero-section {
	align-items: flex-start;
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
	background: black;
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: var(--width-container);
	width: 100%;
	gap: 30px;
	background: black;
}

@media (min-width: 540px) {
	.card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 960px) {
	.card-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

.card_event {
	list-style: none;
	position: relative;
	background: black;
}

.card_event:before {
	content: "";
	display: block;
	padding-bottom: 150%;
	width: 100%;
}

.card__background {
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	background-image: url(https://images.unsplash.com/photo-1675095524926-f1a8581615d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80);
	transform: scale(1) translateZ(0);
	transition: filter 200ms linear, transform 200ms linear;
}

.card_event:hover .card__background {
	transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card_event:not(:hover) .card__background {
	filter: brightness(1) saturate(0) blur(2px);
}

.card__content {
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
}

.card__category {
	color: var(--text-light);
	font-size: 0.9rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
}

.card__heading {
	color: var(--text-lighter);
	font-size: vh;
	text-shadow: 2px 2px 20px rgba(0, 0, 0, 0);
	line-height: 1.4;
	word-spacing: 100vw;
}

@media screen and (min-width: 601px) {
	.card__heading {
		font-size: 4vh;
	}
	.card__category {
		font-size: 3vh;
	}
}

@media screen and (max-width: 600px) {
	.card__heading {
		font-size: 2vh;
	}
	.card__category {
		font-size: 2vh;
	}
}
.modal-header {
	border-color: white;
}

.modal-body {
	color: black;
}

/* navbar scenes */
#menu {
	position: absolute;
	top: 50%;
	width: 35px;
	height: 30px;
	margin: 30px 0px 20px 20px;
	cursor: pointer;
	z-index: 100;
}

#menu:hover #bar1 {
	opacity: 0;
	transition: 0.2s;
}

#menu:hover #bar3 {
	opacity: 0;
	transition: 0.2s;
}

#menu:hover #bar2 {
	transition: all 0.5s;
	transition-delay: 0.2s;
	transform: rotate(180deg);
}

.bar {
	height: 5px;
	width: 100%;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}

.color :hover {
	transform: translate3d(0px, 311px, 0px);
}

#bar1 {
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.contents {
	background-color: transparent;
	height: 100vh;
	margin: 0;
	position: absolute;
	left: 0px;
	font-size: 60px;
	top: 0px;
	z-index: -100;
	width: 100%;
	animation: contents 0.5s forwards;
	animation-delay: 2s;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contents li a {
	color: #584a46;
	text-decoration: none;
}

.contents li {
	list-style: none;
	padding: 16px 0px;
}

/* video background */

.bgvid {
	position: fixed;
	right: -32%;
	bottom: -24%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	z-index: -100;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 600px) {
	.overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 120vh;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

/* about taqneeq */
.main-tq {
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
	position: relative;
}
.main-tq video {
	width: 100%;
	height: auto;
	min-height: 100%;
	object-fit: cover;
}

.bgvideolg {
	position: fixed;
	/* right: -32%; */
	bottom: -24%;
    top: -10%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
	z-index: -100;
}
