* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grow {
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.grow:hover {
  transform: scale(1.08);
  z-index: 10;
}

.show {
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
